/*
  DIAGNOSTIC STYLING
*/
body {
  background:blanchedalmond;
}

/* Your Awesome Scripts */
#tab-1{
  background: lavenderblush;
}
#tab-2{
  background: lemonchiffon;
}
#tab-3{
  background: lightcyan;
}